body {
  font: 14px sans-serif;
}
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}
.bar text {
  fill: #fff;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*a {
  padding: 10px 20px;
  border: 1px solid black;
  display: inline-block;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
  margin-bottom: 20px
}*/