body {
  font: 14px sans-serif;
}
div#container {
  max-width: 1000px;
  margin: 0 auto;
}

#steps{
  overflow-x: scroll;
}
.axis path{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

a {
  padding: 10px 20px;
  border: 1px solid black;
  display: inline-block;
}
a,
a:visited {
  color: blue;
  text-decoration: none;
}

div.pie-holder{
  display: inline-block;
  padding: 20px
}